[buildout]
parts = 
    instance
    omelette
    scripts
    releaser
    sphinxbuilder

extends =
    http://dist.plone.org/release/4.2.7/versions.cfg
    versions.cfg

effective-user = 
show-picked-versions = true
versions = versions
find-links =
     https://pypi.oikoumene.org
     http://pypi.afterfivetech.com/packages/
#    http://packages.inigo-tech.com/packages/
#    http://pypi.afterfivetech.com:8000/packages/

# ============================================== Start
# These settings will be overridden with OpenShift's environment variables
# during deployment
log-directory = ${buildout:directory}/var/log/
data-directory = ${buildout:directory}/var
pyeggcache-directory = ${buildout:directory}/var/egg-cache
http-address = 8080
# ================================================ End

policies = 
    wcc.policy
    wcc.assemblypolicy
    wcc.ewnpolicy
    wcc.publicationspolicy
    eappi.policy
    interfaithclimate.policy
    wccpilgrimageblog.policy
    iacfaith.policy
    wccminisites.policy

extensions = mr.developer
sources-dir = dev/
auto-checkout = 
    wcc.policy
    wcc.assemblytheme
    wcc.assemblypolicy
    wcc.content
    wcc.tinymce
    wcc.songs
    wcc.theme
    wcc.common
    wcc.churches
    wcc.vocabularies
    wcc.prayercycle
    wcc.featurable
    wcc.carousel
    wcc.weeklynews
    wcc.activity
    wcc.twitterportlet
    wcc.ewnpolicy
    wcc.importer
    wcc.videolink
    wcc.rawhtml
    wcc.audiofile
    wcc.document
    wcc.donation
    wcc.multilingual
    wcc.homepage
    wcc.watertheme
    wcc.socialportlet
    wcc.contactform
    wcc.caching
    wcc.translation
    wcc.jsonapi
    wcc.remotenews
    wcc.remoteuuid
    wcc.search
    wcc.books
    wcc.publicationspolicy
    wcc.assemblyhomepage
    wcc.programmeplanner
    wcc.video
    wcc.facebook
    wcc.api
    wcc.committee
    wcc.externalscripts
    eappi.policy
    eappi.theme
    eappi.map
    eappi.customrss
    plone.jsonapi.routes
    wccresponsive.theme
    interfaithclimate.policy
    interfaithclimate.theme
    interfaithclimate.signup
    wccpilgrimageblog.policy
    wccpilgrimageblog.theme
    wccpilgrimageblog.profiles
    wcc.footer
    iacfaith.policy
    wccminisites.policy
    wccminisite.app
    wcc.registration
#    plone.multilingualbehavior
#    collective.miscbehaviors

[sources]
wcc.policy = git https://github.com/oikoumene/wcc.policy.git
wcc.assemblytheme = git https://github.com/oikoumene/wcc.assemblytheme.git 
wcc.assemblypolicy = git https://github.com/oikoumene/wcc.assemblypolicy.git 
wcc.content = git https://github.com/oikoumene/wcc.content.git 
wcc.tinymce = git https://github.com/oikoumene/wcc.tinymce.git 
wcc.songs = git https://github.com/oikoumene/wcc.songs.git 
wcc.theme = git https://github.com/oikoumene/wcc.theme.git
wcc.common = git https://github.com/oikoumene/wcc.common.git
wcc.churches = git https://github.com/oikoumene/wcc.churches.git
wcc.vocabularies = git https://github.com/oikoumene/wcc.vocabularies.git
wcc.prayercycle = git https://github.com/oikoumene/wcc.prayercycle.git
wcc.featurable = git https://github.com/oikoumene/wcc.featurable.git
wcc.carousel = git https://github.com/oikoumene/wcc.carousel.git
#plone.multilingualbehavior = git https://github.com/plone/plone.multilingualbehavior
#collective.miscbehaviors = git https://github.com/inigoconsulting/collective.miscbehaviors
wcc.weeklynews = git https://github.com/oikoumene/wcc.weeklynews.git
wcc.activity = git https://github.com/oikoumene/wcc.activity.git
wcc.twitterportlet = git https://github.com/oikoumene/wcc.twitterportlet.git
wcc.ewnpolicy = git https://github.com/oikoumene/wcc.ewnpolicy.git
wcc.importer = git https://github.com/oikoumene/wcc.importer.git
wcc.videolink = git https://github.com/oikoumene/wcc.videolink.git
wcc.rawhtml = git https://github.com/oikoumene/wcc.rawhtml.git
wcc.audiofile = git https://github.com/oikoumene/wcc.audiofile.git
wcc.document = git https://github.com/oikoumene/wcc.document.git
wcc.donation = git https://github.com/oikoumene/wcc.donation.git
wcc.multilingual = git https://github.com/oikoumene/wcc.multilingual.git
wcc.homepage = git https://github.com/oikoumene/wcc.homepage.git
wcc.watertheme = git https://github.com/oikoumene/wcc.watertheme.git
wcc.socialportlet = git https://github.com/oikoumene/wcc.socialportlet.git
wcc.contactform = git https://github.com/oikoumene/wcc.contactform.git
wcc.caching = git https://github.com/oikoumene/wcc.caching.git
wcc.translation = git https://github.com/oikoumene/wcc.translation.git
wcc.jsonapi = git https://github.com/oikoumene/wcc.jsonapi.git
wcc.remotenews = git https://github.com/oikoumene/wcc.remotenews.git
wcc.remoteuuid = git https://github.com/oikoumene/wcc.remoteuuid.git
wcc.search = git https://github.com/oikoumene/wcc.search.git
wcc.books = git https://github.com/oikoumene/wcc.books.git
wcc.publicationspolicy = git https://github.com/oikoumene/wcc.publicationspolicy.git
wcc.assemblyhomepage = git https://github.com/oikoumene/wcc.assemblyhomepage.git
wcc.programmeplanner = git https://github.com/oikoumene/wcc.programmeplanner.git
wcc.video = git https://github.com/oikoumene/wcc.video.git
wcc.facebook = git https://github.com/oikoumene/wcc.facebook.git
wcc.api = git https://github.com/oikoumene/wcc.api.git
wcc.committee = git https://github.com/oikoumene/wcc.committee.git
wcc.externalscripts = git https://github.com/oikoumene/wcc.externalscripts.git
eappi.policy = git https://github.com/oikoumene/eappi.policy.git
eappi.theme = git https://github.com/oikoumene/eappi.theme.git
eappi.map = git https://github.com/oikoumene/eappi.map.git
eappi.customrss = git https://github.com/oikoumene/eappi.customrss.git
plone.jsonapi.routes = git https://github.com/oikoumene/plone.jsonapi.routes.git
wccresponsive.theme = git https://github.com/afterfivetech/wccresponsive.theme
interfaithclimate.policy = git https://github.com/afterfivetech/interfaithclimate.policy.git
interfaithclimate.theme = git https://github.com/afterfivetech/interfaithclimate.theme.git
interfaithclimate.signup = git https://github.com/afterfivetech/interfaithclimate.signup.git
wccpilgrimageblog.policy = git https://github.com/oikoumene/wccpilgrimageblog.policy.git
wccpilgrimageblog.theme = git https://github.com/oikoumene/wccpilgrimageblog.theme.git
wccpilgrimageblog.profiles = git https://github.com/oikoumene/wccpilgrimageblog.profiles.git
wcc.footer = git https://github.com/oikoumene/wcc.footer.git
iacfaith.policy = git https://github.com/oikoumene/iacfaith.policy.git
wccminisites.policy = git https://github.com/oikoumene/wccminisites.policy.git
wccminisite.app =  git https://github.com/oikoumene/wccminisite.app.git
#ilokn.registration = git https://github.com/ploneUN/ilokn.registration.git
wcc.registration = git https://github.com/oikoumene/wcc.registration.git

[mr.developer]
threads = 1

[instance]
recipe = plone.recipe.zope2instance
eggs = 
    Plone
    Pillow
    plone.app.dexterity
    munin.zope
    wcc.translation
#    ipdb
    ${buildout:policies}
#   security hotfix
    Products.PloneHotfix20131210
    Products.PloneHotfix20150910
    plone4.csrffixes==1.0.6
    Products.PloneHotfix20151208

zcml =
    wcc.translation

http-address = ${buildout:http-address}
user = admin:admin
effective-user = ${buildout:effective-user}

environment-vars = 
#    zope_i18n_compile_mo_files true
    PYTHON_EGG_CACHE ${buildout:pyeggcache-directory}
    HOME ${buildout:directory}/var/
    WCC_JSONAPI_SECRET himitsu

zserver-threads = 4
zodb-cache-size = 5000
zeo-client-cache-size = 512MB

event-log = ${buildout:log-directory}/${:_buildout_section_name_}.log
z2-log = ${buildout:log-directory}/${:_buildout_section_name_}-Z2.log
file-storage = ${buildout:data-directory}/filestorage/Data.fs
blob-storage = ${buildout:data-directory}/blobstorage/

[omelette]
recipe = collective.recipe.omelette
eggs = ${instance:eggs}

[scripts]
recipe = zc.recipe.egg
interpreter = zopepy
eggs = ${instance:eggs}

[releaser]
recipe = collective.recipe.template
input = templates/releaser.py.in
output = ${buildout:bin-directory}/releaser.py
mode = 755
auto-release = ${buildout:auto-checkout}

[sphinxbuilder]
recipe = collective.recipe.sphinxbuilder
source = ${buildout:directory}/docs/source
build = ${buildout:directory}/docs/build
outputs = 
    html
    pdf
